@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

.movie_card {
    position: relative;
    font-family: "Montserrat";
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  /* margin: 100px auto; */
  border-radius: 10px;
  /* transition: all 0.4s; */
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
.movie_card::-webkit-scrollbar {
    display: none;
  }
/* .movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
} */
.movie_card .info_section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
  height: 40%;
}
.desc{
    font-size: 25px;
    color: rgb(238, 100, 20);
    font-family: "Abel";
    margin-top: -10px;
}
.title-movie {
  color: #fff;
  font-weight: 400;
}
h4 {
    font-size: 20px;
  color: #9ac7fa;
  font-weight: 400;
  /* margin-left: 10px; */
}
.directors{
    display: flex;
    flex-direction: column;
}
.minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.run-rating{
    display: flex;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #fff;
    color: #000;
    font-weight: 800;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.movie_desc {
    margin-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
}
.actors{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}
@media screen and (min-width: 768px) {
  /* .movie_card{
    height: ;
  } */
  .movie_header {
    width: 60%;
  }
  .movie_desc {
    width: 50%;
  }
  .info_section {
    background: linear-gradient(to right, #000000 50%, transparent 100%);
  }
  .actors{
      width: 50%;
      height: 30%;
  }
  .blur_back {
    width: 80%;
    background-position: -100% 10% !important;
  }
}
@media screen and (max-width: 768px) {
    /* .modal{
        margin-top: 20px;
    } */
    h4{
        font-size: 18px;
    }
    .minutes{
        font-size: 12px;
    }
  .blur_back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .movie_header {
    width: 100%;
    margin-top: 200px;
  }
  .movie_desc {
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
  }
  .actors{
      width: 100%;
      height: 30%;
  }
  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}


